@font-face {
  font-family: "Ubuntu";
  src: url('../fonts/Ubuntu-Italic.ttf');
  src: url('../fonts/Ubuntu-Italic.ttf') format('truetype');
  font-style:italic;
  font-weight:normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url('../fonts/Ubuntu-Bold.ttf');
  src: url('../fonts/Ubuntu-Bold.ttf') format('truetype');
  font-style:normal;
  font-weight:bold;
}

@font-face {
  font-family: "Ubuntu";
  src: url('../fonts/Ubuntu-Regular.ttf');
  src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
  font-style:normal;
  font-weight:normal;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto-Regular.ttf');
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto-Bold.ttf');
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-style:normal;
  font-weight: "bold"
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto-Italic.ttf');
  src: url('../fonts/Roboto-Italic.ttf') format('truetype');
  font-style:italic;
  font-weight:normal;
}

@font-face {
  font-family: "Inter";
  src: url('../fonts/Inter-Regular.ttf');
  src: url('../fonts/Inter-Regular.ttf') format('truetype');
  font-style:normal;
  font-weight:normal;
}

@font-face {
  font-family: "Inter";
  src: url('../fonts/Inter-Bold.ttf');
  src: url('../fonts/Inter-Bold.ttf') format('truetype');
  font-style:normal;
  font-weight:bold;
}

@font-face {
  font-family: "Inter";
  src: url('../fonts/Inter-Light.ttf');
  src: url('../fonts/Inter-Light.ttf') format('truetype');
  font-style:normal;
  font-weight:lighter;
}

@font-face {
  font-family: "Inter";
  src: url('../fonts/Inter-VariableFont_slnt,wght.ttf');
  src: url('../fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
  font-style:normal;
  font-weight:normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url('../fonts/RobotoCondensed-Regular.ttf');
  src: url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url('../fonts/RobotoCondensed-Bold.ttf');
  src: url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
  font-style:normal;
  font-weight: "bold"
}

@font-face {
  font-family: "Roboto Condensed";
  src: url('../fonts/RobotoCondensed-Italic.ttf');
  src: url('../fonts/RobotoCondensed-Italic.ttf') format('truetype');
  font-style:italic;
  font-weight:normal;
}