$bc-algolia: #050f2c;
$bc-algolia-1: #050f2c;
$bc-algolia-2: #003666;
$bc-algolia-3: #00aeff;
$bc-algolia-4: #3369e7;
$bc-algolia-5: #8e43e7;
$bc-algolia-6: #b84592;
$bc-algolia-7: #ff4f81;
$bc-algolia-8: #ff6c5f;
$bc-algolia-9: #ffc168;
$bc-algolia-10: #2dde98;
$bc-algolia-11: #1cc7d0;